<h2>{{title}}</h2>
<table>
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        {{#each sales}}
            {{#hasWebsite this.Website}}
                <tr>
                    <td>{{this.Movie_ID}}</td>
                    <td>{{this.Title}}</td>
                    <td>{{this.Year}}</td>
                    <td>{{this.Genre}}</td>
                    <td>{{this.Director}}</td>
                    <td>{{this.Website}}</td>
                </tr>
            {{/hasWebsite}}
        {{/each}}
    </tbody>
</table>
