<h2>Movie Details</h2>
<p><strong>Movie ID:</strong> {{movie.Movie_ID}}</p>
<p><strong>Title:</strong> {{movie.Title}}</p>
<p><strong>Year:</strong> {{movie.Year}}</p>
<p><strong>Genre:</strong> {{movie.Genre}}</p>
<p><strong>Director:</strong> {{movie.Director}}</p>
